{{ _id }}
<form #f="ngForm" (ngSubmit)="addMenuItem(f)" class="my-form">
    {{f.value | json }}

    <div class="form-group">
        <label for="userName">
            Name
        </label>
        <input 
            ngModel
            name="MIName"
            #name="ngModel" 
            id="userName" 
            type="text" 
            class="form-control" 
            required maxlength="40"  
            pattern="[A-Za-z\.\_\ ]+"
        >
        <div class="alert alert-danger" *ngIf="name.invalid && name.touched">
            <div *ngIf="name.errors.required">
                Name is required
            </div>
            <div *ngIf="name.errors.pattern">
                The name doesn't match the pattern!
            </div>
        </div>

    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input 
        ngModel 
        name="price" 
        #price="ngModel" 
        type="text" 
        id="price" 
        class="form-control" 
        required>
        <div 
        class="alert alert-danger" *ngIf="price.invalid && price.touched">
            street is required
        </div>

    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input 
            ngModel 
            name="description" 
            id="description" 
            type="text" 
            class="form-control"
        >
    </div>
    <div class="form-group">
        <label for="image">Image URL</label>
        <input 
            ngModel 
            name="image" 
            id="image" 
            type="string" 
            class="form-control"
        >
    </div>
    <input 
        class="btn btn-primary" 
        type="submit" 
        value="Submit" 
        [disabled]="f.invalid"
    >

</form>