<p>list-all-restarants works!</p>
<br>
<div>
    <ul *ngFor="let res of restaurants">
        <li>{{res.name}}</li>
        <li>{{res.city}}</li>
        <li>{{res.street}}</li>
        <!--routerLink="/edit_restaurant" -->
        <div class="panel-footer">
            <button class="btn btn-primary" (click)="updateRestaurant(res.id)" >
                Update
            </button>
            <button class="btn btn-primary" (click)="ShowMenu(res.id)">
                show menu items
            </button>
            <button class="btn btn-primary" (click)="rateRest(res.id)">
                rate
            </button>
            <button class="btn btn-danger">
                Delete
            </button>
            <button class="btn btn-primary" (click)="showOrders(res.id)">
                show Orders
            </button>
           
        </div>
    </ul>
</div>
