<p>list-menu-items works!</p>
{{_id}}
<div *ngFor="let i of _menu_items">
    {{i.name}}
    {{i.descr}}
    {{i.price}}
    {{i.image}}
    <button class="btn btn-primary" (click)="editMenuItem(i.id)" >
        Update
    </button>
    <div *ngIf="i.ordered; then ordered else notordered"></div>
    <ng-template #ordered><button class="btn btn-primary" (click)="orderMenuItem(i.id)" >Order</button></ng-template>
<ng-template #notordered><button class="btn btn-primary" (click)="deleteOrderMenuItem(i.id)" >delete order</button></ng-template>
</div>
<button class="btn btn-primary" (click)="addMenuItem()" >
    ADD MENU ITEM
</button>

